.account-page{
    position: absolute;
    top: 0;
    right: 0;
    background: #ffffff;
    padding: 2px;
    height: 100%;
    .page-title {
        text-align: center;
        padding: 6px;
    }
    .page-form {
        border: none;
        .page-form-item {
            input+.link{
                width:120px;
            }
            .btn{
                margin: 0 60px;
            }
        }
    }
}