
.list-card{
    min-width: 400px;
    width: calc(50% - 10px);
    border: 1px solid #00aaef;
    .list-card-title{
        padding: 8px 10px;
        background: #00aaef;
        color: #ffffff;
        line-height: 20px;
        a{
            float: right;
            cursor: pointer;
            &+a{
                margin-right: 15px;
            }
        }
    }
    .list-card-noitem{
        text-align: center;
        margin: 15px;
        min-height: 60px;
        span{
            display: inline-block;
            font-size: 26px;
            color: #dbdbdb;
            transform: rotate(-15deg);
        }
    }
    ul.list-card-content{
        list-style: none;
        padding: 5px;
        li{
            padding: 6px;
            &:nth-child(2n){
                background: #e5e5e5;
            }
            &:hover{
                cursor: pointer;
                opacity: 0.8;
            }
            .row1{
                padding: 0 8px;
                    overflow:hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                a{
                    color:#00aaef;
                    padding-right: 8px;
                }
                span{
                    
                }
                
            }
            .row2{
                color: #999999;
                i{
                    float: right;
                }
            }
        }
    }
}