
.list-card{
    min-width: 400px;
    max-width: 600px;
    border: 1px solid #00aaef;
    .list-card-title{
        padding: 2px 8px;
        background: #00aaef;
        color: #ffffff;
        line-height: 20px;
        a{
            float: right;
            cursor: pointer;
        }
    }
    ul.list-card-content{
        list-style: none;
        padding: 5px;
        li{
            padding: 6px;
            &:nth-child(2n){
                background: #f3f3f3;
            }
            &:hover{
                cursor: pointer;
                opacity: 0.8;
            }
        }
    }
}