.total-chart{
    display: inline-flex;
    flex-wrap: wrap;
    background: #ffffff;
    width: 100%;
    >div{
        position: relative;
        max-width: 460px;
        padding: 10px;
    }

    .total-chart-grid{
        max-width: 800px;
        margin-left: 20px;
        padding-left: 150px;
        position: relative;
        .tabs{
            position: absolute;
            top: 0;
            left: 0;
            >div{
                display: block;
            }
        }
    }

    .total-chart-search{
        
    }
    .total-chart-info{
        margin: 30px;
        a{
            cursor: pointer;
            color: #00aaef;
        }
    }

    table{
        caption{
            text-align: center;
            caption-side: top;
        }
        th,td{
            padding: 5px;
            text-align: center;
            a{
                color: #00aaef;
            }
        }
        th{
            background:#00aaef;
            color:#ffffff;
        }
    }

    canvas{
        width: 100%;
        height: 100%;
        min-width: 500px;
        &.bar{
            transform: translate(-15px, 0);
        }
        &.pie{
            transform: translate(-60px, 0px);
        }
    }
}