.detail-body{
    .detail-title{
        h2{
            display: inline-block;
            width: calc(100% - 2em);
            text-align: center;
        }
    }
    .detail-info{
        margin: 15px;
        text-align: center;
        line-height: 36px;
        a{
            color: #00aaef;
        }
        span+span{
            margin-left: 20px;
        }
    }
    .detail-content{
        padding: 0 20px;
        line-height: 26px;
    }
    @media screen and (max-width: 500px) {
        .detail-info{
            margin: 15px;
            text-align: left;
            line-height: 20px;
        }
    }
}