.home-page{
    .home-msgTotal{
        margin-left: 20px;
        .home-msgTotal-item{
            font-weight: 400;
            a{
                cursor: pointer;
                color:#74142c!important;
                text-decoration: underline;
            }
        }
    }
    .home-page-content{
        padding: 20px;
    }
    .tabs.type-tabs{
        background:#00aaef;
        sup{
            border-radius: 50%;
            background: red;
            color: #ffffff;
            padding: 1px 5px;
        }
        div{
            color:#ffffff;
        }
        .active{
            span{
                color:#d3d3d3;
                border-bottom: 2px solid;
            }
        }

        @for $i from 1 through 5
        {
            .tab-#{$i}:before
            {
                background-image: url()
            }
        }
    }
}