.home-page{
    .home-msgTotal{
        margin: 0 20px;
        strong{
            padding-left: 20px;
            font-size: 24px;
            color: #993333;
        }
        .home-msgTotal-item{
            color: #333333;
            a{
                cursor: pointer;
                color: #fd2323 !important;
                text-decoration: underline;
                font-weight: bold;
            }
        }
    }
    .home-page-content{
        padding: 20px;
    }
    .tabs.type-tabs{
        padding-left: 20px;
        background:#00aaef;
        &>div{
            color:#ffffff;
        }
        sup{
            border-radius: 50%;
            background: red;
            color: #ffffff;
            padding: 1px 5px;
        }
        .active{
            color:#a5f1a5;
            span{
                border-bottom: 2px solid;
            }
        }

        @for $i from 1 through 5
        {
            .tab-#{$i}:before
            {
                background-image: url()
            }
        }
    }
}